services:
  machine1:
    image: web-machine
    hostname: web-machine
    build: machine
    volumes:
      - ./flag:/flag
    ports:
      - "8080:80"    # Puerto Web 
      - "2222:22"    # Puerto SSH
    networks:
      - internal_net

networks:
  internal_net:
    driver: bridge
